// Abstractos
@use "abstracts/variables.scss";
@use "abstracts/mixins.scss";

// Base
@use "base/reset.scss";
@use "base/typography.scss";

// Layout
@use "layout/navbar.scss";
@use "layout/footer.scss";
@use "layout/forms.scss";

// Pages 
@use "pages/politics.scss";
@use "pages/home.scss";
@use "pages/products.scss";
@use "pages/services.scss";

// Componentes
@use "components/buttons.scss";
@use "components/headline.scss";
@use "components/testimonials.scss";

// Vendors
@use "vendors/responsive.scss";