// Abstractos
@use "abstracts/_variables.scss";
@use "abstracts/_mixins.scss";

// Base
@use "base/_reset.scss";
@use "base/_typography.scss";

// Layout
@use "layout/_navbar.scss";
@use "layout/_footer.scss";
@use "layout/_forms.scss";

// Pages 
@use "pages/_politics.scss";
@use "pages/_home.scss";
@use "pages/_products.scss";
@use "pages/_services.scss";

// Componentes
@use "components/_buttons.scss";
@use "components/_headline.scss";
@use "components/_testimonials.scss";

// Vendors
@use "vendors/_responsive.scss";