// Servicios

@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.servicios {
  padding: 2rem;
  margin: 0 auto;

  .titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $color-red-dark;
  }

  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .servicio-card {
    @include card-style($color: #000000, $padding: 1.5rem, $border-radius: 1rem, $shadow: 0 20px 16px 13px rgba(255, 0, 0, 0.1));
    color: $color-white;
    text-align: center;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      color: $color-red-bright;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }

    &:hover {
      transform: translateY(-5px);
      @include box-shadow(0 6px 15px rgba(0, 0, 0, 0.3));
    }
  }
}