// Lo que hacemos

.icon-box {
  background: $color-white;
  @include box-shadow($horizontal: 0, $vertical: 4px, $blur: 12px, $color: rgba(0, 0, 0, 0.1));
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: default;

  &:hover {
    @include box-shadow($horizontal: 0, $vertical: 4px, $blur: 12px, $color: rgba(0, 0, 0, 0.1));
    transform: translateY(-5px);
  }

  h2 {
    color: $color-dark;
    font-weight: bold;
  }
  h3 {
    color: $color-dark;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    color: $color-dark;
  }

  .icon {
    font-size: 3rem;
  }
}

// Historia

.historia {
  padding: 3rem 0;
  background-color: $color-light-gray;

  .contenedor {
    display: grid;
    max-width: 100%;
    padding: 0 1rem;
    overflow-x: hidden;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(1, 100%);
    gap: 20px;

    .foto {

      img {
        width: 100%; // que se adapte al ancho del contenedor
        height: auto;
        border-radius: 1rem;
      }
      
    }

    .texto {
      grid-column: 2;
      align-content: flex-start;

      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: $color-dark;
      }
    }
  }
}

// Call to action

.action {
  @include card-style($color: #fff, $padding: 20px, $border-radius: 12px, $shadow: 0 4px 8px rgba(0, 0, 0, 0.1));
  background-color: $color-red-dark;
  backdrop-filter: blur(30px);
  max-width: 90%;   
  margin: 2rem auto;
  padding: 2rem;   

  .contened {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    .texto {
  
      text-align: center;
      color: $color-white;

      h2 {
        color: $color-red-dark;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
      }
    }
  }
}