// Home

.icon-box {
    background: $color-white;
    @include box-shadow($horizontal: 0, $vertical: 4px, $blur: 12px, $color: rgba(0, 0, 0, 0.1));
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default;

    &:hover {
        @include box-shadow($horizontal: 0, $vertical: 4px, $blur: 12px, $color: rgba(0, 0, 0, 0.1));
        transform: translateY(-5px);
    }

    h5 {
        color: $color-dark;
        font-weight: 700;
    }

    p {
        color: $color-dark;
    }

    .icon {
        font-size: 3rem;
    }
}

// Historia

.historia-section {
  padding: 5rem 0;
  background-color: #f5f3f4; // color claro de fondo

  .historia-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; // para que sea responsivo

    .historia-foto {
      flex: 1 1 40%;
      padding-right: 2rem;

      img {
        width: 100%;
        height: auto;
        border-radius: 1rem; // opcional, bordes redondeados
        object-fit: cover;
      }
    }

    .historia-texto {
      flex: 1 1 60%;

      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #161a1d;
      }
    }
  }
}