// Productos

.productos {
    padding: 40px 20px;

    .content {
        max-width: 100%;
        margin: 0 auto;
    }

    h1 {
        margin-bottom: 24px;
        font-size: 2rem;
        color: $color-dark;
    }

    .filtros {
        display: flex;
        gap: 12px;
        margin-bottom: 24px;

        input,
        select {
            padding: 12px;
            border-radius: 10px;
            border: 1px solid $color-light-gray;
            font-size: 1rem;
            flex: 1 1 150px;
            background-color: $color-white;
            color: $color-black;
            @include transition(all, 0.3s);

            &:focus {
                outline: none;
                border-color: $color-red-bright;
            }
        }

        button {
            $nombre-color: $color-red-bright !global; // Para usar en tu mixin
            @include button-style();
            flex: 0 0 120px;
        }
    }

    #resultCount {
        display: block;
        margin-bottom: 16px;
        font-weight: bold;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 16px;

        .product-card {
            @include card-style($color: $color-white, $padding: 0px, $border-radius: 12px);
            text-align: center;

            img {
                max-width: 100%;
                height: 140px;
                border-radius: 8px;
            }

            h2 {
                font-size: 1.2rem;
                margin: 12px 0;
                color: $color-dark;
            }

            p {
                margin: 6px 0;
            }

            button {
                color: $color-red-bright;
                @include button-style();
                margin-top: 10px;
            }
        }
    }
}