// Forms

.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  width: 100%;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: $color-dark;
    text-align: center;
  }
}

.form {
  background: $color-light;
  padding: 20px;
  border-radius: 12px;
  @include box-shadow(0, 4px, 12px, rgba(0, 0, 0, 0.1));

  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 6px;
      font-weight: bold;
      color: $color-dark;
      font-size: 1rem;
    }
  }

  .form-input,
  .form-textarea {
    padding: 12px;
    border: 1px solid $color-light-gray;
    border-radius: 8px;
    font-size: 1rem;
    background-color: $color-white;
    color: $color-black;
    @include transition(all, 0.3s);

    &:focus {
      outline: none;
      border-color: $color-red-bright;
      box-shadow: 0 0 6px rgba($color-red-bright, 0.5);
    }
  }

  .form-textarea {
    resize: vertical;
  }

  .btn-primary {
    $nombre-color: $color-red-bright !global;
    @include button-style();
    width: 100%;
  }
}