// Navbar

@use "../abstracts/mixins.scss" as *;
@use "../abstracts/variables.scss" as *;
@use "../base/typography.scss" as *;

.navbar {
  background-color: $color-dark;

  .navbar-brand {
    color: $color-red-main;
    font-weight: 900;
    font-family: $font-primary;
    font-size: 1.8rem;

    &:hover {
      color: $color-red-bright;
      text-shadow: 0 0 5px $color-red-bright;
    }
  }

  .nav-link {
    color: $color-light-gray;
    font-weight: 600;
    font-family: $font-primary;
    transition: color 0.3s ease;

    &:hover {
      color: $color-red-bright;
      text-shadow: 0 0 3px $color-red-bright;
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }
  }
}