
@use "../abstracts/_mixins.scss" as *;
@use "../abstracts/_variables.scss" as *;

.headline {
  position: relative;
  background-image: url("../images/Heroimg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-white;
  width: 100%;
  flex-shrink: 0; // evita que se encoja dentro del body flex

  // Overlay con transparencia
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); // negro al 50% de opacidad
  }

  .container {
    position: relative; // para que el texto quede arriba del overlay
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;

    h1 {
      color: $color-red-dark;
      font-size: 3rem;
      font-weight: bold;
      margin: 0;
    }

    .lead {
      font-size: 1.25rem;
      color: white;
      font-weight: bold;
    }

    .btn {
      background-color: $color-red-main;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-red-bright;
      }
    }
  }
}