// Mixin de boton 

@use "variables" as *;

@mixin button-style($text-color: white) {
    background-color: $color-red-bright;
    color: $text-color;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    font-size: 17px;
    transition: background-color 0.3s, transform 0.2s;
    
    &:hover {
      transform: scale(1.03);
      background-color: $color-red-bright;
    }
    
    &:active {
      transform: scale(0.95);
    }
  }

// Mixin para las transiciones

@mixin transition($properties, $duration: 0.3s, $timing-function: ease) {
    transition: $properties $duration $timing-function;
  }
  
// Mixin para las animaciones

@mixin animation($name, $duration: 1s, $timing-function: ease, $delay: 0s) {
    animation: $name $duration $timing-function $delay;
  }
  
// Mixin para las sombras

@mixin box-shadow($horizontal: 0, $vertical: 4px, $blur: 12px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $horizontal $vertical $blur $color;
  }

// Mixin para tarjetas 

@mixin card-style($color: #fff, $padding: 20px, $border-radius: 12px, $shadow: 0 4px 8px rgba(0, 0, 0, 0.1)) {
  background-color: $color;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $shadow;
}

// Mixin para fade in up
@mixin fade-in-up($duration: 0.6s, $distance: 20px, $timing: ease-out) {
  opacity: 0;
  transform: translateY($distance);
  animation: fadeInUp $duration $timing forwards;
}