// 🎨 Paleta de colores
$color-black: #0b090a;
$color-dark: #161a1d;
$color-red-dark: #660708;
$color-red-main: #a4161a;
$color-red-light: #ba181b;
$color-red-bright: #e5383b;
$color-gray: #b1a7a6;
$color-light-gray: #d3d3d3;
$color-light: #f5f3f4;
$color-white: #ffffff;

